/* Calendar */

$color-calendar-blue: #3172ff;
$color-calendar-red: #ff3831;

.calendar-year {
  margin: 15px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: $color-calendar-blue;
}

.calendar-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}

.calendar {
  display: block;
  margin: 5px;
  padding: 10px 0;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.calendar__caption {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
  color: $color-calendar-blue;
}

.calendar__row {
  font-size: 16px;
}

.calendar__row_head {
  font-weight: bold;
  background-color: $color-calendar-blue;
}

.calendar__cell {
  padding: 5px 10px;
  text-align: center;
}

.calendar__cell_body:last-child {
  color: $color-calendar-red;
}

.calendar__cell_head {
  color: #fff;
}

@media screen and (max-width: 1199px) {

  .calendar-year {
    margin: 12px 0;
    font-size: 24px;
  }
  
  .calendar-container {
    max-width: 1000px;
  }
  
  .calendar {
    margin: 4px;
    padding: 10px 0;
    border-radius: 3px;
  }
  
  .calendar__caption {
    font-size: 18px;
  }
  
  .calendar__row {
    font-size: 13px;
  }
  
  .calendar__cell {
    padding: 4px 8px;
  }

}